<p>player works!</p>
<input type="range" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime"
    (input)="OnSeekToEnd($event.target.value)" [disabled]="!canPlay()" />
<label for="shuffle">Shuffle</label>
<input [(ngModel)]="shuffle" type="checkbox" value="Shuffle" name="shuffle" />
<input (click)="back()" type="button" value="Back" [disabled]="!canPlay() || isFirstPlaying()" />
<input (click)="stop()" type="button" value="Stop" [disabled]="!canPlay()" />
<input (click)="togglePlayback()" type="button" value="Play/Pause" [disabled]="!canPlay()" />
<input (click)="next()" type="button" value="Next" [disabled]="!canPlay() || (!shuffle && isLastPlaying())" />