<p>search works!</p>
<input type="button" (click)="setViewByTrack()" value="View by Track" [disabled]="viewByTrack===true"/>
<input type="button" (click)="setViewByAlbum();" value="View by Album" [disabled]="viewByTrack===false"/>
<input type="text" placeholder="search" 
[(ngModel)]="searchTerm" (input)="search(searchTerm)" />
<li (click)="navigateDirectory(directory)" *ngFor="let directory of currentDirectory;">{{directory}}</li>
<li *ngFor="let track of currentTracks | searchFilter: searchTerm; index as i">{{track}}</li>
